/* DOCUMENT STYLES */
body {
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header, .footer {
  display: none;
}

/* CONTENT STYLES*/
/* common elements */
#menu-icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.header__menu {
  top: 0;
}

.select_color_scheme {
  position: absolute;
  top: 1vw;
  left: 91.25vw;
  z-index: 20;
}

.constructor {
  position: absolute;
  overflow: auto;

  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

/* help disclaimer */
.constructor__disclaimer {
  position: absolute;
  top: 17.5vh;
  left: 20vw;
  width: 60vw;
}

.constructor__arrow {
  display: inline-block;
  position: absolute;
  color: blue;
  font-size: 2vh;
}

.up_ar {
  left: 49%;
}
.left_ar {
  top: 49%;
  left: 0;
}
.right_ar {
  top: 49%;
  right: 0;
}
.down_ar {
  bottom: 0;
  left: 49%;
}

.constructor__disclaimer_help {
  display: inline-block;
  position: relative;
  padding: 1%;
  border: 2px solid black;
}

.constructor__disclaimer_help b {
  display: block;
  text-align: center;
}

.up_help, .down_help {
  left: 15%;
  width: 70%;
  margin-top: 4vh;
}

.down_help {
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.left_help, .right_help {
  float: left;
  width: 40%;
  margin-top: 2vh;
  margin-left: 3vh;
}

.right_help {
  float: right;
  margin-right: 3vh;
}

.constructor__disclaimer_closer {
  position: absolute;
  top: 1vh;
  right: 1vh;
  font-size: 4vh;
  color: red;
  cursor: pointer;
  z-index: 10;
}


/* EDITOR */
.editor {
  z-index: 5;
  background: rgba(255, 255, 255, .2);
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: auto;
}

.editor pre {
  position: inherit;
  bottom: 15vh;
  left: 15vw;
  height: 60vh;
  width: 70vw;
}


/* VIEW */
.view {
  z-index: 6;
  background: radial-gradient(circle closest-corner at 30vw 20vh ,
    #FAECD5, lightcyan) fixed;
  height: 85vh;
  top: -70vh;
  margin-left: 10vw;
  border: .25vw solid black;
  border-radius: 0 0 20% 20%;
  width: 80vw;
  overflow: hidden;
  cursor: url("../images/constructor/view.png"), default;
}
.view:hover {
  top: -35vh;
}

.view__fix {
  top: -35vh;
}
.view__globe:hover {
  top: -.5vh;
}
.view__globe.view__fix {
  top: -.5vh;
}

.content__painting {
  position: absolute;
  width: 70vw;
  bottom: -14vh;
  left: -6vw;
  -webkit-transform: scale(.88);
  -ms-transform: scale(.88);
  transform: scale(.88);
}

.view_inner {
  height: 71vh;
  margin: .5vh .4vw 2.5vh .9vw;
  padding: 0 0;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}
.bord_bottom {
  border-bottom: .15vw solid rgba(0, 0, 0, .1);
}

.blog__article {
  margin: 33vh 0 0 -4.85vw;
  -webkit-transform: scale(.88);
  -ms-transform: scale(.88);
  transform: scale(.88);
}

.art_add {
  margin-top: -4vh;
}

.view button {
  position: relative;
  z-index: 3;
  outline: none;
  cursor: pointer;
  font-size: 2.5vh;
  border-radius: 50%;
  padding: .8vh 1vh 1vh;
  -webkit-transition: .75s;
  -moz-transition: .75s;
  -o-transition: .75s;
  transition: .75s;
}
.view button:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.fix_button {
  left: 7.5vw;
  border: .25vh solid rgba(36, 177, 254, 0.75);
}
.fix_button:hover {
  opacity: 1;
  box-shadow: 0 0 1px 3px rgba(14, 255, 35, 0.05),
              0 0 1px 6px rgba(14, 255, 35, 0.05),
              0 0 1px 9px rgba(14, 255, 35, 0.05),
              0 0 1px 12px rgba(14, 255, 35, 0.05),
              0 0 1px 15px rgba(14, 255, 35, 0.05);
}

.fix_on {
  border: .25vh solid rgba(0, 96, 0, .3);
  background: linear-gradient(to left bottom, rgba(0, 196, 0, .9), rgba(0, 128, 0, .8));
  opacity: 1;
  box-shadow: 0 0 1px 3px rgba(0, 255, 0, 0.1),
              0 0 1px 6px rgba(0, 255, 0, 0.075),
              0 0 1px 9px rgba(0, 255, 0, 0.05);
}
.fix_on:hover {
  box-shadow: 0 0 1px 3px rgba(128, 0, 0, 0.03),
              0 0 1px 6px rgba(128, 0, 0, 0.03),
              0 0 1px 9px rgba(128, 0, 0, 0.03),
              0 0 1px 12px rgba(128, 0, 0, 0.03),
              0 0 1px 15px rgba(128, 0, 0, 0.03);
}

.view_button {
  display: inline-block;
  left: 9vw;
  border: .25vh solid rgba(36, 177, 254, 0.75);
}
.view_button:hover {
  box-shadow: 0 0 1px 3px rgba(36, 177, 254, 0.05),
              0 0 1px 6px rgba(36, 177, 254, 0.05),
              0 0 1px 9px rgba(36, 177, 254, 0.05),
              0 0 1px 12px rgba(36, 177, 254, 0.05),
              0 0 1px 15px rgba(36, 177, 254, 0.05);
}

.view_vis {
  display: none;
}


/* DRAGGABLE */
.draggable {
  z-index: 7;
  background: rgba(0, 128, 0, .4);
  height: 60vh;
  width: 40vw;
  top: 35vh;
  left: -35vw;
  border-radius: 0 20% 20% 0;
}
.draggable:hover {
  left: -5vw;
}

.menu {
  z-index: 8;
  height: 60vh;
  width: 25vw;
  top: 35vh;
  right: -20vw;
  border-radius: 20% 0 0 20%;
  background: rgba(0, 0, 128, .4);
}
.menu:hover {
  right: -2vw;
}


/* NIGHT SCHEME */
.red_scheme_body .view {
  background: radial-gradient(circle closest-corner at 70vw 65vh,
    rgba(106, 5, 24, 0.62), rgba(8, 1, 5, 0.89)) fixed;
}


/* ADAPTIVE STYLES */
@media screen and (max-width: 615px) {
  #menu-icon {
    top: 10vh;
    transform: scale(.9);
  }
  .select_color_scheme {
    top: calc(5vw + 10vh);
    transform: rotate(90deg) scale(1.1);
  }
}
