/* DOCUMENT STYLES */
body {
  background: rgb(40, 40, 34);
  overflow-x: hidden;
}

.deep_h {
  opacity: .1;
}

button {
  position: fixed;
  top: 13vh;
  right: 2vw;
  padding: 1vh;
  border: 2px solid black;
  background: linear-gradient(black, lightslategray);
  font-size: 2vh;
  color: rgba(230, 230, 250, .8);
}