{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Конструктор{% endblock title %}
{% block header_title %}Конструктор блога{% endblock header_title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/constructor.css' %}">
    {% if blog %} <style> .art_add { margin-top: -4vh; } </style> {% endif %}
{% endblock style %}


{% block content %}
  <div class="select_color_scheme">
    <input type="checkbox">
    <label><i></i></label>
  </div>

  <fieldset class="constructor__disclaimer">
    <legend>Справка</legend>

      <span class="constructor__arrow up_ar">🢁</span>
      <span class="constructor__disclaimer_help up_help">
        <b>Панель визуализации.</b>
        <i>
          Здесь можно посмотреть, как будет выглядеть ваша статья после публикации.
          Кроме того, в правом углу находится кнопка публикации статьи, нажмите её,
          когда ваша статья будет готова.
        </i>
      </span>

      <span class="constructor__arrow left_ar">🢀</span>
      <span class="constructor__disclaimer_help left_help">
        <b>Панель управления элементом.</b>
        <i>
          На панели управления элементом можно задать настройки для текущего элемента
          - фон, шрифт и прочее. Здесь находятся преднастройки для удобства и быстрой
          работы. Для профессионалов доступен специальный режим - "Web Developer", где
          с помощью CSS возможно настроить отображение элемента максимально точно.
        </i>
      </span>

      <span class="constructor__arrow right_ar">🢂</span>
      <span class="constructor__disclaimer_help right_help">
        <b>Дерево элементов.</b>
        <i>
          Все созданные элементы имеют своё место в дереве. Здесь можно выбрать блок
          или элемент для изменения настроек или его содержания. Также, когда вы
          создаёте новый элемент, он добавляется в конец дерева, а на этой панели
          можно изменить их порядок, перетащив мышкой элемент куда нужно или удалить
          его. Здесь же находится справка по добавлению в статью изображений и видео.
        </i>
      </span>

      <span class="constructor__disclaimer_help down_help">
        <b>Рабочая панель.</b>
        <i>
          А здесь происходит магия: создание и наполнение элементов контентом.
          Создайте новый элемент или выберите из дерева элементов существующий и
          наполните его своим содержимым!
        </i>
      </span>
      <span class="constructor__arrow down_ar">📖</span>

      <span class="constructor__disclaimer_closer" title="Скрыть справку">⌧</span>
  </fieldset>

  <span class="constructor__disclaimer_opener open"
        title="Показать справку">❔ Показать справку ❔</span>

  <div class="constructor editor">
    <textarea id="editor_content">
    </textarea>
  </div>

  <div class="constructor view">
    <div class="view_inner">
      <fieldset class="blog__article" id="newarticle">
        <legend>{% if blog %}{{ blog.name }}{% else %}Название{% endif %}</legend>
        <div class="blog__content" id="newcontent">
          <h1>Пусто</h1>
        </div>
        <span class="blog__author">Автор: <b>{{ user.username }}</b></span>
      </fieldset>
    </div>

    <div class="article__form_div">
      <button class="article__form_cancel"
              onclick="confirmPublication()">Отмена</button>

      <form class="article__form" method="POST">
        {% csrf_token %}
        <table class="article__form_table">{{ art_form.as_table }}</table>
          <input class="article__form_submit" type="submit" value="Опубликовать!">
      </form>
    </div>

    <button class="constructor__button fix_button"
            onclick="fixConstructorView()">📌</button>
    <button class="constructor__button view_button"
            onclick="changeConstructorView()">💠</button>
    <button class="constructor__button publish"
            onclick="confirmPublication()">📜</button>
    <button class="publish__button"
            onclick="confirmPublication()">Опубликовать!</button>

    <img class="content__painting" src="{% if scheme != 'night' %}
      {% static 'images/blog/background.png' %}{% else %}
      {% static 'images/blog/background1.png' %}{% endif %}">
  </div>

  <div class="constructor menu">
    <span class="elem_logo">Древо элементов</span>

    <div class="elem_tree_container">
      <ul id="elem__tree"></ul>
    </div>

    <button class="constructor__button fix_button"
            onclick="fixConstructorMenu()">📌</button>

    <button class="constructor__button settings_button"
            onclick="" title="Общие настройки">🔧</button>

    <button class="constructor__button help_button"
            onclick="" title="Помощь">📷</button>
  </div>

  <div class="constructor draggable">
    <h2 class="drag_elem_name">Название элемента</h2>
    <span class="elem_logo">Свойства</span>
    <button class="constructor__button fix_button"
            onclick="fixConstructorDrag()">📌</button>
  </div>

{% endblock content %}


{% block script_builder %}
  <script>
    setColorSchemeSelector('{{ scheme }}');

    {% if blog %}
      fillBlogContent('newcontent',
        '{{ blog.content }}' + '{{ blog_add.content_add }}');
    {% endif %}
  </script>
  <script src="{% static 'scripts/constructor_page_builder.js'%}"></script>
  <script src="{% static 'scripts/constructor.js'%}"></script>
{% endblock script_builder %}
