{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Конструктор{% endblock title %}
{% block header_title %}Конструктор блога{% endblock header_title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/constructor.css' %}">
{% endblock style %}


{% block content %}
  <div class="select_color_scheme">
    <input type="checkbox">
    <label><i></i></label>
  </div>

  <fieldset class="constructor__disclaimer">
    <legend>Справка</legend>

      <span class="constructor__arrow up_ar">🢁</span>
      <span class="constructor__disclaimer_help up_help">
        <b>Панель визуализации.</b>
        <i>
          Здесь можно посмотреть, как будет выглядеть ваша статья после публикации.
          Левая кнопка закрепляет текущее состояние панели. Кнопка справа от неё
          меняет режим визуализации. В правом углу находится кнопка публикации статьи,
          нажмите её, когда ваша статья будет готова.
        </i>
      </span>

      <span class="constructor__arrow left_ar">🢀</span>
      <span class="constructor__disclaimer_help left_help">
        <b>Панель управления элементом.</b>
        <i>
          В панели слева можно задать настройки для текущего элемента - фон, шрифт и
          многое другое. Здесь находится база преднастроек для удобства и быстроты
          работы. Для профессионалов создан специальный режим - "Web Developer", где
          с помощью языков CSS/HTML возможно настроить отображение элемента максимально
          точно.
        </i>
      </span>

      <span class="constructor__arrow right_ar">🢂</span>
      <span class="constructor__disclaimer_help right_help">
        <b>Дерево элементов.</b>
        <i>
          Все созданные элементы имеют своё место в дереве. Здесь можно выбрать блок
          или элемент для изменения настроек или редакции его наполнения. Кроме того -
          когда вы создаёте новый элемент - он добавляется в конец дерева, а на этой
          панели можно изменить их порядок, просто перетащив мышкой элемент туда, куда
          нужно или же удалить его. Также, здесь находится справка по тонким моментам
          блога - как то: добавление в статью изображений или видео, местные особенности
          использования эффектов css-анимации.
        </i>
      </span>

      <span class="constructor__arrow down_ar">🢃</span>
      <span class="constructor__disclaimer_help down_help">
        <b>Рабочая панель.</b>
        <i>
          Тут происходит магия - создание и наполнение пустых элементов контентом.
          Создайте новый элемент или выберете из дерева элементов существующий и
          наполните его содержимым!
        </i>
      </span>

      <span class="constructor__disclaimer_closer" title="Скрыть справку">⌧</span>
  </fieldset>

  <div class="constructor editor">
    <pre style="color: white">
    </pre>
  </div>

  <div class="constructor view">
    <div class="view_inner">
      <fieldset class="blog__article" id="newarticle">
        <legend>Название</legend>
        <div class="blog__content" id="newcontent"><ul>
            <li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li>
            <li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li>
            <li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li>
            <li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li>
            <li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li>
            <li>1</li><li>1</li><li>1</li><li>1</li><li>1</li><li>1</li>
          </ul><pre>ssasassaasassaassasasasssasaassasasasaasasassasassasasasaassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss ssasassaasassaassasasasssasaassasasasaasasassasassasasasaassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</pre></div>
        <span class="blog__author">Автор: <b>{{ user.username }}</b></span>
      </fieldset>
    </div>

    <button class="fix_button"
            onclick="fixConstructorView()">📌</button>
    <button class="view_button"
            onclick="changeConstructorView()">💠</button>

    <img class="content__painting" src="{% if scheme != 'night' %}
      {% static 'images/blog/background.png' %}{% else %}
      {% static 'images/blog/background1.png' %}{% endif %}">
  </div>

  <div class="constructor menu">
  </div>

  <div class="constructor draggable">
    <button>Li</button><button>div</button>
    <button>span</button><button>h1</button>
    <button>h2</button><button>h2</button>
    <button>p</button><button>table</button>
    <input type="file" accept="image/jpeg,image/png">
  </div>

{% endblock content %}


{% block script_builder %}
  <script>
    setColorSchemeSelector('{{ scheme }}');
  </script>
  <script async type="text/javascript" src="//mod.imgbb.com/website.js" charset="utf-8"></script>
  <script src="{% static 'scripts/constructor_page_builder.js'%}"></script>
  <script src="{% static 'scripts/constructor.js'%}"></script>
{% endblock script_builder %}
